:root{
 --primary-color: #f8f9fa;
 --secondary-color: #f06543;
 --accent-color: #f09d51;
 --heading-color: #313638;
 --background-color: #d9d9d9;
 --border-color: #727980;
 --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
*, *::after, *::before{
    box-sizing: border-box;
}

/* Typography */
::selection{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'montserrat';
    font-size: 2rem;
    line-height: 1.5;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
h1, h2, h3, h4 {
    color: var(--heading-color);
    margin-bottom: 1rem;
    line-height: 1.1;
}
h1{
    font-size: 7rem;
} 
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    font-weight: 500;
}
h4{
    font-size: 2.5rem;
    font-weight: 500;
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* MAIN */
.container{
    min-height: 100vh;
    background-image: url(../images/CTU-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#34383d;
    background-blend-mode: multiply;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.role-card{
    background-color: var(--background-color);
    padding: 3rem;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    max-width: 500px;
    width: 90%;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.card-header h2,h3{
    margin: 0;
    padding: 0;
}
.card-header h2{
    font-size: 2.5rem;
}
.card-header h3{
    font-size: 2rem;
}
.card-header .logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card-body label{
    font-size: 1.8rem;
    color: var(--heading-color);
}
.card-body select{
    padding: 12px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    box-shadow: var(--box-shadow);
    outline: none;
}
.card-body button,
.form-body button,
.content button{
    width: 40%;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    transition: background-color 0.3s ease;
}
.btn-drk-bg{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.btn-light-bg{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.btn-accent-bg{
    background-color: var(--accent-color);
    color: var(--heading-color);
}
.btn-drk-bg:hover{
    background-color: #c62828;
}
.btn-light-bg:hover{
    background-color: #ecedee;
}
@media (max-width: 600px) {
  .role-card {
    padding: 2rem;
  }

  .card-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .card-header h2 {
    font-size: 2rem;
  }

  .card-header h3 {
    font-size: 1.5rem;
  }

  .card-header .logo {
    width: 80px;
    height: 80px;
  }

  .card-body label {
    font-size: 1.2rem;
  }

  .card-body button {
    width: 100%;
  }
}

/* SIGN UP & SIGN IN */
/* SIGN UP & SIGN IN */
.signin-signup-container{
    position: relative;
    width: 70vw;
    height: 80vh;
    background: var(--background-color);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.signin-signup-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out
}
.signin-signup-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
.account-text{
    display: none;
}
.signin-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
}
.signin-body .form-body{
    width: 100%;
}
.form-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
.form-body .error-message,
.form-body .signin-error-message,
.forgot-password-form .error-message{
    color: #f00000;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block;
}
form.signin-form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
form.signup-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.form-body .title,
.admin-form .title,
.forgot-password-form .title{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.form-body .input-field,
.admin-form .input-field,
.forgot-password-form .input-field{
    position: relative;
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    width: 80%;
    margin-bottom: 25px;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.input-field .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}
.form-body .input-field i,
.admin-form .input-field i,
.forgot-password-form .input-field i{
    flex: 1;
    text-align: center;
}
.form-body .input-field input,
.admin-form .input-field input,
.forgot-password-form .input-field input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    flex: 5;
}
.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.left-panel{
    pointer-events: none;
}
.content{
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.content h3{
    font-size: 3rem;
    font-weight: 600;
}
.content p{
    font-size: 16px;
    padding: 10px 0;
}
.left-panel .content{
    transform: translateX(-200%);
}
.right-panel .content{
    transform: translateX(0);
}
.signin-signup-container.signup-active::before{
    transform: translateX(0);
}
.signin-signup-container.signup-active .right-panel .content{
    transform: translateX(200%);
}
.signin-signup-container.signup-active .left-panel .content{
    transform: translateX(0);
}
.signin-signup-container.signup-active form.signin-form{
    opacity: 0;
}
.signin-signup-container.signup-active form.signup-form{
    opacity: 1;
}
.signin-signup-container.signup-active .right-panel{
    pointer-events: none;
}
.signin-signup-container.signup-active .left-panel{
    pointer-events: all;
}

@media (max-width: 779px){
    .signin-signup-container{
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width: 635px){
    .signin-signup-container::before{
        display: none;
    }
    .form-body, .signin-body{
        width: 80%;
    }
    .signin-form{
        width: 100%;
    }
    form.signup-form{
        display: none;
    }
    .signin-signup-container.signup-active2 form.signup-form{
        display: flex;
        opacity: 1;
    }
    .signin-signup-container.signup-active2 .signin-body{
        display: none;
    }
    .panels-container{
        display: none;
    }
    .account-text{
    display: initial;
    margin-top: 30px;
}
}
@media (max-width: 320px){
    .form-body, .signin-body{
        width: 90%;
    }
    .signin-form{
        width: 100%;
    }
}

/* ADMIN SIGNIN */
.admin-form,
.forgot-password-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*******************/
/** LANDING PAGE **/
/*****************/

/* NAVIGATION */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--secondary-color);
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: var(--background-color);
    height: 60px;
    min-width: 78px;
    text-align: center;
    line-height: 60px;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: var(--background-color);
    font-weight: 600;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    margin: 0;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background-color: #bb573e;
}
.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 48px;
    color: var(--background-color);
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
    display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: var(--background-color);
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #bb573e;
    display: none;
}
.sidebar .nav-links li .sub-menu a{
    white-space: nowrap;
    color: var(--background-color);
    font-size: 15px;
    padding: 5px 0;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
.sidebar .nav-links li .sub-menu .sub-menu-header{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .sub-menu-header{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .sub-menu-header{
    font-size: 18px;
    color: var(--background-color);
    border-bottom: 1px solid #d0ddea89;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}

/* PROFILE PICTURE */
.sidebar .profile-details{
    width: 260px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bb573e;
    padding: 6px 0;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details{
    width: 78px;
    background: none;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background-color: var(--background-color);
    padding: 10px;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
    padding: 10px;
}
.sidebar .profile-details i{
    transform: scaleX(-1);
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: var(--background-color);
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job,
.sidebar.close .profile-details  i{
    display: none;
}
.sidebar .profile-details .job{
    font-size: 12px;
}

/*******************************/
/******** HOME SECTION ********/
/******************************/

.home-section{
    position: relative;
    background: var(--primary-color);
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content i,
.home-section .home-content .menu-text{
    color: var(--secondary-color);
    font-size: 30px;
}
.home-section .home-content i{
    margin: 0 20px;
    cursor: pointer;
}
.home-section .home-content .menu-text{
    font-size: 20px;
    font-weight: 600;
}